.app {
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

/* BODY */
.body {
  display: flex;
  justify-content: center;
}

.body .conteudo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
}
